<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alkathirikhalid.recipeapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Recipe Activity-->
        <activity android:name=".RecipeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Detail Activity-->
        <activity android:name=".DetailActivity" />
        <!-- Add Edit Activity-->
        <activity android:name=".AddEditActivity"></activity>
    </application>
</manifest>